.accountCreationContainer{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    min-width: 430px;
    min-height: 760px;
    gap: 50px;
    margin: 70px 105px 70px 165px;
}