.accountCreationContainer{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 83%;
    gap: 50px;
    margin: 70px 105px 70px 165px;
}

.randomImageContainer {
    width: 710px; 
    height: 829px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    border-radius: 20px;
}

.randomImageContainer img { 
    object-fit: cover; 
}