.imagemContainer {
    width: 700px; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.imagemContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px; 
}