:root {

  --branco: #FFFFFF;
  --cor-de-fundo: #202227;
  --cinza-claro: #8692A6;
  --cinza-escuro: #696F79;
  --preto: #000000;

}

body{
  background-color: var(--cor-de-fundo);
}

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

