:root {

  --white: #FFFFFF;
  --background-color: #202227;
  --subtitle-gray: #8692A6;
  --label-gray: #696F79;
  --black: #000000;
  

}

body{
  background-color: var(--background-color);
}

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

